.cont-home{
    display: flex;
    font-family: 'Patua One', cursive;
}

.cont-home .profile{
    display: flex;
    width: 100%;
    background-color: #FCA311;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

.profile img{
    height: 400px;
}

.profile .text-profile{
    /* background-color: aqua; */
    text-align: start;
    width: 40%;
}

.text-profile h3{
    font-weight: 400;
}

.text-profile .personal-link{
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 24px;
}

.personal-link a{
    text-decoration: none;
    color: black;
}