.cont-home{
    display: flex;
    font-family: 'Patua One', cursive;
    flex-direction: column;
    padding-bottom: 50px;
}

.cont-home .profile{
    display: flex;
    width: 100%;
    background-color: #FCA311;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

.profile img{
    height: 400px;
}

.profile .text-profile{
    /* background-color: aqua; */
    text-align: start;
    width: 40%;
}

.text-profile h3{
    font-weight: 400;
}

.text-profile .personal-link{
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 24px;
}

.personal-link a{
    text-decoration: none;
    color: black;
}


.cont-home .cont-projects{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-around;
    margin-top: 50px;
}

.card-project{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* width: 25%; */
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    justify-content: center;
}

.card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    background-color: rgb(20, 33, 61, 0.5);
    color: white;
    height: 100%;
}

/* .cont-projects a:hover{
    color: #FCA311;
} */