.cont-project{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    font-family: 'Patua One';
}

.cont-content{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: 10px;
}

.cont-img{
    display: flex;
    justify-content: center;
}

.cont-img img{
    width: 90%;
}

.cont-detail{
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    margin: auto;
}

.cont-project .title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
}

.cont-project .role{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #666666;
    margin-bottom: 20px;
}

.desc, .utilized{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.desc .title, .utilized .title{
    display: flex;
    width: 30%;
    /* background-color: #666666; */
    justify-content: space-between;
    font-size: 18px;
    padding-right: 5px;
}

.desc .detail, .utilized .detail{
    display: flex;
    width: 70%;
    /* background-color: #a30000; */
    text-align:justify;
    font-size: 18px;
}

.cont-content hr{
    display: block;
    border: 1px solid #8b8b8b;
    margin: 20px 0px 20px 0px;
    width: 100%;
}